@import url('./root.css');

.sidebar-minimized {
    min-height: 1000px;
    height: auto;
    width: 0;
    flex-shrink: 0;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fafafa;
    font-weight: 700;
    overflow: hidden;
    transition: width 100ms ease-in-out;
}

.sidebar-minimized.visible {
    width: 65px;
}

.sidebar-minimized ul.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sidebar-minimized .top-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-minimized ul.sidebar-content button {
    width: 70%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-minimized .top-sidebar img {
    transition: background-color 130ms ease-in-out;
}
.sidebar-minimized .top-sidebar img:hover {
    background-color: var(--gray2);
}
.sidebar-minimized .top-sidebar img:active {
    background-color: var(--gray3);
}