// insert as first child of #content
<div class="new-project-modal">
    <form action="">
        <label for="project-name">Project Name:</label>
        <input type="text" id="project-name" required autofocus>
        <label for="desc">Description:</label>
        <textarea id="project-description"></textarea>
        <div class="button-container">
            <button class="cancel">Cancel</button>
            <button type="submit">Create Project</button>
        </div>
    </form>
</div>

<div class="navigation maximized">
    <div class="top">
        <button id="minimize-navigation">
            <img class="minimize" src="../src/view/icons/minimize2.svg" alt="minimize-navigation" srcset="">
        </button>
    </div>
    <ul class="navigation-content">
        <li>
            <button class="scheduled-today">
                <img src="../src/view/icons/scheduled-today.png" alt="" class="scheduled-today">
                <p class="title">Today</p>
                <p class="count">1</p>
            </button>
        </li>
        <li>
            <button class="scheduled">
                <img src="../src/view/icons/scheduled.png" alt="" class="scheduled">
                <p class="title">Scheduled</p>
                <p class="count">1</p>
            </button>
        </li>
        <li>
            <button class="projects">
                <img src="../src/view/icons/project.png" alt="" class="all-projects">
                <p class="title">Projects</p>
                <p class="count">1</p>
            </button>
        </li>
        <li>
            <button class="tasks">
                <img src="../src/view/icons/tasks.png" alt="" class="all-tasks">
                <p class="title">All Tasks</p>
                <p class="count">1</p>
            </button>
        </li>
    </ul>
</div>

<div class="navigation minimized">
    <div class="top">
        <button id="maximize-navigation">
            <img class="maximize" src="../src/view/icons/maximize.svg" alt="" srcset="">
        </button>
    </div>
    <ul class="navigation-content">
        <li>
            <button class="scheduled-today">
                <img src="../src/view/icons/scheduled-today.png" alt="" class="scheduled-today">
            </button>
        </li>
        <li>
            <button class="scheduled">
                <img src="../src/view/icons/scheduled.png" alt="" class="scheduled">
            </button>
        </li>
        <li>
            <button class="projects">
                <img src="../src/view/icons/project.png" alt="" class="all-projects">
            </button>
        </li>
        <li>
            <button class="tasks">
                <img src="../src/view/icons/tasks.png" alt="" class="all-tasks">
            </button>
        </li>
    </ul>
</div>

<div class="right-side-flex-container">
    <header>
        <div class="logo">
            <img src="../src/view/icons/logo1.png" alt="to-do-list logo">
            <h2>Project Manager</h2>
            <div class="border-top"></div>
            <div class="box-front-top"></div>
            <div class="box-front-bottom"></div>
        </div>
        <button class="new-project-container">
            <div class="box-back-top"></div>
            <div class="box-back-bottom"></div>
            <h3 class="new-project">New Project</h3>
            <div class="box-front-top"></div>
            <div class="box-front-bottom"></div>
        </button>
    </header>

    <div id="view-content">

// projects view
    <div class="display">
        <header>
            <div class="left-container">
                <h1>Projects</h1>
            </div>
            <div class="right-container">
                <button><img src="../src/view/icons/add.svg" alt=""></button>
                <button><img src="../src/view/icons/delete.svg" alt=""></button>
            </div>
        </header>

        <div class="project-container">
            <div class="adjust-height-container">
                <button class="adjust-height"><img class="adjust-height" src="../src/view/icons/right-carrot.svg" alt=""></button>
            </div>
            <button class="content-container all-display">
                <div class="top-content">
                    <h2>Project 1</h2>
                </div>
                <div class="bottom-content">
                    <h4 class="description">Description</h4>
                    <p class="description-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quisquam doloribus possimus autem consequuntur placeat iure obcaecati, ipsa delectus magni quasi numquam sequi quaerat totam nesciunt assumenda quos excepturi magnam?</p>
                    <div class="tasks-count-container">
                        <h4 class="tasks">Tasks :</h4>
                        <p class="tasks-count">10</p>
                    </div>
                </div>
            </button>
        </div>
    </div>

        // single project view
        <div class="display single-project">
            <header>
                <button><h1>Projects</h1></button><span class="divider">></span><span class="name">Project 1</span></h1>
            </header>

            <div class="project-description">
                <h2>Description</h2>
                <p class="description-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsa dolorum fuga at velit. Animi illo laboriosam natus perspiciatis ab necessitatibus odit? Maiores non, itaque aliquam totam molestiae deleniti. Unde!
                </p>
            </div>

            <h2 class="tasks">Tasks</h2>

            <form class="add-task-container">
                <button><img src="../src/view/icons/add.png" alt=""></button>
                <input type="text" placeholder="task name">
            </form>

            <div class="project-container tasks-container">
                <div class="adjust-height-container">
                    <button class="adjust-height"><img class="adjust-height" src="../src/view/icons/right-carrot.svg" alt=""></button>
                </div>
                <div class="content-container">
                    <div class="top-content">
                        <h3>Task 1</h3>
                        <div class="right-container">
                            <div class="date">6/12/2023</div>
                            <div class="priority-circle">!</div>
                            <button class="edit-task"><img src="../src/view/icons/edit.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <h4 class="notes">Notes</h4>
                        <p class="notes-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quisquam doloribus possimus autem consequuntur placeat iure obcaecati, ipsa delectus magni quasi numquam sequi quaerat totam nesciunt assumenda quos excepturi magnam?</p>
                    </div>
                </div>
            </div>
        </div>

// tasks view.  Can use this as a template for different task views by changing the textContent of the H1.
<div class="display single-project all-tasks">
    <header>
        <h1>Scheduled Today</h1>
    </header>

    <div class="project-container tasks-container tasks-view">
        <div class="adjust-height-container">
            <button class="adjust-height"><img class="adjust-height" src="../src/view/icons/right-carrot.svg" alt=""></button>
        </div>
        <div class="content-container">
            <div class="top-content">
                <div class="left-container">
                    <h3>Task 1</h3>
                    <p class="parent-project-name">(Project 1)</p>
                </div>
                <div class="right-container">
                    <div class="date">6/12/2023</div>
                    <div class="priority-circle">!</div>
                    <button class="edit-task"><img src="../src/view/icons/edit.svg" alt=""></button>
                </div>
            </div>
            <div class="bottom-content">
                <h4 class="notes">Notes</h4>
                <p class="notes-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quisquam doloribus possimus autem consequuntur placeat iure obcaecati, ipsa delectus magni quasi numquam sequi quaerat totam nesciunt assumenda quos excepturi magnam?</p>
            </div>
        </div>
    </div>
</div>

    <.navigation class="mobile">
        <ul class="mobile-navigation-content">
            <li>
                <button class="scheduled-today">
                    <img src="../src/view/icons/scheduled-today.png" alt="" class="scheduled-today">
                    <p>Today</p>
                </button>
            </li>
            <li>
                <button class="scheduled">
                    <img src="../src/view/icons/scheduled.png" alt="" class="scheduled">
                    <p>Scheduled</p>
                </button>
            </li>
            <li>
                <button class="new-project">
                    <img src="../src/view/icons/add.png" alt="">
                    <p>New</p>
                </button>
            </li>
            <li>
                <button class="projects">
                    <img src="../src/view/icons/project.png" alt="" class="all-projects">
                    <p>Projects</p>
                </button>
            </li>
            <li>
                <button class="tasks chosen-tab">
                    <img src="../src/view/icons/tasks.png" alt="" class="all-tasks">
                    <p>Tasks</p>
                </button>
            </li>
        </ul>
    </div>
</div>