// sidebar maximized
<div class="sidebar maximized">
    <div class="top">
        <img class="minimize" src="../src/view/icons/minimize2.svg" alt="minimize-sidebar" srcset="">
    </div>
    <ul class="sidebar-content">
        <li>
            <button class="scheduled-today">
                <img src="../src/view/icons/scheduled-today.png" alt="" class="scheduled-today">
                <p>Today</p>
                <p style="color:rgb(180, 255, 145)">1</p>
            </button>
        </li>
        <li>
            <button class="scheduled">
                <img src="../src/view/icons/scheduled.png" alt="" class="scheduled">
                <p>Scheduled</p>
                <p>1</p>
            </button>
        </li>
        <li>
            <button class="projects">
                <img src="../src/view/icons/project.png" alt="" class="all-projects">
                <p>Projects</p>
                <p>1</p>
            </button>
        </li>
        <li>
            <button class="tasks">
                <img src="../src/view/icons/tasks.png" alt="" class="all-tasks">
                <p>All Tasks</p>
                <p>1</p>
            </button>
        </li>
    </ul>
</div>

//sidebar minimized
<div class="sidebar minimized">
    <div class="top">
        <img class="maximize" src="../src/view/icons/maximize.svg" alt="" srcset="">
    </div>
    <ul class="sidebar-content">
        <li>
            <button class="scheduled-today">
                <img src="../src/view/icons/scheduled-today.png" alt="" class="scheduled-today">
            </button>
        </li>
        <li>
            <button class="scheduled">
                <img src="../src/view/icons/scheduled.png" alt="" class="scheduled">
            </button>
        </li>
        <li>
            <button class="projects">
                <img src="../src/view/icons/project.png" alt="" class="all-projects">
            </button>
        </li>
        <li>
            <button class="tasks">
                <img src="../src/view/icons/tasks.png" alt="" class="all-tasks">
            </button>
        </li>
    </ul>
</div>

// mobile bottom bar
<nav class="mobile">
    <ul class="mobile-nav-content">
        <li>
            <button class="scheduled-today">
                <img src="../src/view/icons/scheduled-today.png" alt="" class="scheduled-today">
                <p>Today</p>
            </button>
        </li>
        <li>
            <button class="scheduled">
                <img src="../src/view/icons/scheduled.png" alt="" class="scheduled">
                <p>Scheduled</p>
            </button>
        </li>
        <li>
            <button class="projects">
                <img src="../src/view/icons/project.png" alt="" class="all-projects">
                <p>Projects</p>
            </button>
        </li>
        <li>
            <button class="tasks">
                <img src="../src/view/icons/tasks.png" alt="" class="all-tasks">
                <p>All Tasks</p>
            </button>
        </li>
    </ul>
</nav>


// header
<header>
    <div class="logo container">
        <img src="../src/view/icons/logo1.png" alt="to-do-list logo">
        <h2>Project Manager</h2>
        <div class="border-top"></div>
        <div class="box-front-top"></div>
        <div class="box-front-bottom"></div>
    </div>
    <button class="new-project-container">
        <div class="box-back-top"></div>
        <div class="box-back-bottom"></div>
        <h3 class="new-project">New Project</h3>
        <div class="box-front-top"></div>
        <div class="box-front-bottom"></div>
    </button>
</header>