/* display prototype */
.display {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    background-color:rgb(255, 255, 255);
    border-right: 1px solid rgb(236, 236, 236);
    padding: 25px;
    transition: background-color 120ms ease-in-out;
}
.display header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background-color: inherit;
    z-index: 0;
}
.display header .left-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    position: relative;
}
.display .right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    height: 100%;
}
.display img {
    width: 45px;
    height: 45px;
    padding: 8px;
}
.display button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 120ms ease-in-out;
}
.display button:hover {
    background-color: #e4e4e4;
}
.display button:active {
    background-color: #cacaca;
}
.display h2 {
    color: rgb(53, 53, 53);
    font-size: 1.2rem;
}
.display input.checkbox-delete {
    position: absolute;
    top: 15px;
    left: 48px;
    height: 27px;
    width: 27px;
    accent-color: #730085;
}
.display .confirm-delete-container {
    width: 100%;
    height: 0;
    overflow: hidden;
    color: #ffffff;
    background-color:#0cb38c;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: height 120ms ease-in-out;
}
.display .confirm-delete-container.visible {
    height: 65px;
}
.display .confirm-delete-container button.delete-queue-items {
    background-color:#730085;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-weight: 900;
    transition: background-color 100ms ease-in-out;
}
.display .confirm-delete-container button.delete-queue-items:hover {
    background-color:#d639ee;
    color: black;
}
.display .confirm-delete-container button.delete-queue-items:active {
    background-color:#c12fd8;
    color: black;
}
.display .confirm-delete-container p.item-queue-count {
    width: 100px;
    font-weight: 900;
}
.display.queue-mode {
    background-color: #efefff;
}
.display p.delete-queue-message {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
}

/* task item */
.item {
    height: 65px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    position: relative;
    transition: gap 50ms ease-in-out;
}
.item.delete-view {
    gap: 40px;
}
.item.expanded {
    height: auto;
}
.item .item-container {
    margin-bottom: 20px;
    width: 100%;
}
.item .adjust-height-container {
    width: 50px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item button.adjust-height {
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img.adjust-height {
    transition: transform 120ms ease-in-out;
}
.item img.adjust-height.rotated {
    transform: rotate(90deg);
}
.item .top-content {
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-shrink: 0;
}
.item .top-content .right-container {
    display: flex;
    gap: 20px;
    width: auto;
}
.item .bottom-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 20px;
}
.item .priority-circle {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .priority-circle img {
    padding: 3px;
}
.item button.mark-complete {
    background-color: #26a726;
    font-weight: 900;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 120ms ease-in-out;
}
.item button.mark-complete:hover {
    background-color: #47df47;
    color: black;
}
.item button.mark-complete:active {
    background-color: #5fff5f;
    color: black;
}

/* project item */
.item.project .item-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.item.project button.item-container {
    border-radius: 10px;
    height: 55px;
    margin-bottom: 10px;
    padding: 0 10px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.item.project button.item-container.expanded {
    height: auto;
}
.item.project .description-content {
    margin-bottom: 10px;
}
.item.project .tasks-count-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* single project */
.single-project .back-button {
    border-radius: 10px;
    padding: 10px;
    padding-left: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    transition: background-color 120ms ease-in-out;
}
.single-project .back-button span {
    pointer-events: none;
}
.single-project .back-button:hover {
    background-color: #dddddd;
}
.single-project .back-button:active {
    background-color: #c5c5c5;
}
.single-project header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.single-project header .projects-logo {
    width: auto;
    height: auto;
    border-radius: 5px;
}
.single-project header :nth-child(4) {
    border-radius: 50%;
}
.single-project header h1 {
    position: absolute;
    top: 3px;
    left: 0;
}
.single-project header img.icon {
    height: 90px;
    width: 95px;
}
.single-project header p.icon {
    position: absolute;
    bottom: 40px;
    left: 19px;
    font-size: 14px;
    font-weight: 900;
    color: #006c9d;
}
.single-project header span.divider {
    position: absolute;
    margin: 0 10px 0 10px;
    font-size: 1.6em;
    left: 65px;
    bottom: -10px;
}
.single-project header span.name,
.single-project header input[type="text"] {
    position: absolute;
    left: 112px;
    bottom: 2px;
    color: black;
    font-weight: 900;
    font-size: 19px;
}
.single-project .project-description-container {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.single-project .description-content {
    color: rgb(121, 121, 121);
}
.single-project .add-task-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 30px 0 20px 0;
}
.single-project form.add-task-container input[type=text] {
    flex-grow: 1;
    max-width: 550px;
}
.single-project .add-task-container button {
    border-radius: 10px;
    padding: 5px 10px 5px 0;
}
.single-project .tasks-subheader-container {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* edit single project */
.single-project header input[type="text"] {
    border: 2px solid orange;
    left: 119px;
}
.single-project textarea.edit-project-description {
    border: 2px solid orange;
}

/* edit task */
.edit-task header {
    margin-bottom: 25px;
}
.edit-task button.back-button {
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 0;
}
.edit-task header button.delete-task {
    border-radius: 10px;
    padding: 10px;
}
.edit-task header .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.edit-task header .buttons-container button.save-changes {
    border-radius: 10px;
    background-color: #41b936;
    color: white;
    font-weight: 900;
    padding: 10px 20px 10px 20px;
    transition: background-color 120ms ease-in-out,
}
.edit-task header .buttons-container button.save-changes:hover {
    background-color:#32a028;
}
.edit-task header .buttons-container button.save-changes:active {
    background-color:#26811e;
}
.edit-task header .buttons-container button.undo-changes {
    border-radius: 10px;
    padding: 10px;
    color:blue;
    font-weight: 900;
}
.edit-task .nested-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.edit-task .edit-input {
    display: flex;
    width: 100%;
    position: relative;
}
.edit-task .edit-input input.edit-task-name {
    height: 90px;
    font-size: 20px;
    padding: 20px;
}
.edit-task .edit-input textarea.edit-task-notes {
    height: 200px;
    width: 200px;
    font-size: 20px;
    padding: 20px;
    padding-top: 40px;
    flex-grow: 1;
}
.edit-task label.absolute-position {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 15px;
    color: blue;
    z-index: 1;
}
.edit-task .bottom-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
.edit-task input[type="date"] {
    width: 100%;
}
.edit-task .edit-priority-container {
    flex-grow: 3;
    position: relative;
    padding: 20px;
    padding-top: 40px;
}
.edit-task .edit-priority-container ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.edit-task .edit-priority-container li {
    display: flex;
    align-items: center;
    gap: 10px;
}
.edit-task input[type="radio"] {
    height: 25px;
    width: 25px;
    transition: transform 120ms ease-in-out;
}
.edit-task input[type="radio"]:checked {
    transform: scale(1.2);
}
.edit-task input[type="radio"][value="unset"] {
    accent-color: gray;
}
.edit-task input[type="radio"][value="low"] {
    accent-color: green;
}
.edit-task input[type="radio"][value="medium"] {
    accent-color: rgb(145, 145, 0);
}
.edit-task input[type="radio"][value="high"] {
    accent-color: red;
}
.edit-task label[for="unset"] {
    color: gray;
    font-weight: 900;
}
.edit-task label[for="low"] {
    color: green;
    font-weight: 900;
}
.edit-task label[for="medium"] {
    color: rgb(160, 160, 0);
    font-weight: 900;
}
.edit-task label[for="high"] {
    color: red;
    font-weight: 900;
}

.edit-task .edit-date-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex-grow: 1;
}
.edit-task .edit-date-container img {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
}
.edit-task input[type="date"] {
    height: 90px;
    padding-left: 20px;
    padding-top: 6px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}
.edit-task input[type="date"]::-webkit-calendar-picker-indicator {
    height: 100%;
    width: 65px;
    z-index: 1;
    background: transparent;
}
.edit-task input,
.edit-task textarea,
.edit-task .edit-priority-container {
    border: 1px solid black;
    border-radius: 10px;
}

.parent-project-reference {
    font-size: 13px;
    margin-right: auto;
}