.sidebar .top img,
.sidebar .top button {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}
.sidebar .top button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 130ms ease-in-out;
}
.sidebar .top button:hover {
    background-color: var(--gray2);
}
.sidebar .top button:active {
    background-color: var(--gray3);
}
.sidebar .top {
    height: 60px;
    width: 100%;
}
.sidebar .sidebar-content img {
    width: 28px;
    height: 28px;
}
.sidebar ul.sidebar-content button.projects img {
    width: 26px;
    height: 26px;
}
.sidebar .sidebar-content button,
nav.mobile button {
    transition: background-color 130ms ease-in-out;
}
.sidebar .sidebar-content button:hover,
nav.mobile button:hover {
    background-color: var(--dark2);
}
.sidebar .sidebar-content button:active,
nav.mobile button:active {
    background-color: var(--dark3);
}

/* .sidebar.maximized */
.sidebar.maximized {
    min-height: 100vh;
    height: auto;
    width: 225px;
    flex-shrink: 0;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fafafa;
    font-weight: 700;
    overflow: hidden;
    transition: width 100ms ease-in-out;
}
.sidebar.maximized.hidden {
    width: 0;
}
.sidebar.maximized .top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #383838;
    padding-right: 9%;
}
.sidebar.maximized .top img.minimize {
    padding: 5px;
    border-radius: 50%;
    transition: background-color 130ms ease-in-out;
}
.sidebar.maximized ul.sidebar-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar.maximized .sidebar-content button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 42px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar.maximized .sidebar-content .title {
    flex-grow: 1;
    text-align: left;
}
.sidebar.maximized .sidebar-content .count {
    color: rgb(180, 255, 145);
}

/* .sidebar.minimized */
.sidebar.minimized {
    min-height: 100vh;
    height: auto;
    width: 0;
    flex-shrink: 0;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fafafa;
    font-weight: 700;
    overflow: hidden;
    transition: width 100ms ease-in-out;
}

.sidebar.minimized.visible {
    width: 65px;
}

.sidebar.minimized ul.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sidebar.minimized .top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.minimized ul.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar.minimized ul.sidebar-content button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav.mobile */
nav.mobile {
    /* height and width change on media query */
    height: 0;
    width: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: var(--dark1);
    color: var(--light-gray1);
    text-align: center;
}
nav.mobile img {
    width: 28px;
    height: 28px;
}
nav.mobile button.projects img {
    width: 26px;
    height: 26px;
}
nav.mobile ul.mobile-nav-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav.mobile ul.mobile-nav-content li {
    width: 20%;
    height: 100%;
}
nav.mobile ul.mobile-nav-content button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 100%;
    width: 100%;
    font-size: .65rem;
    transition: background-color 120ms ease-in-out;
}
nav.mobile ul.mobile-nav-content button.chosen-tab {
    background-color: var(--dark2)
}
nav.mobile ul.mobile-nav-content button.new-project {
    gap: 7px;
}