.new-project-modal {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-project-modal form {
    background-color: #e9e9e9;
    color: var(--dark1);
    font-weight: 900;
    height: auto;
    max-width: 600px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    padding: 80px;
    border-radius: 10px;
    position: relative;
    transition: all 120ms ease-in-out;
    overflow: hidden;
}
.new-project-modal form.visible {
    height: 200px;
    max-width: 500px;
}
.new-project-modal .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 10px;
}
.new-project-modal button[type=submit] {
    background-color: #949494;
    color: #ffffff;
    transition: background-color 400ms ease-in-out;
}
.new-project-modal button[type=submit].not-empty {
    background-color: #41b936;
    transition: background-color 120ms ease-in-out;
}
.new-project-modal button[type=submit].not-empty:hover {
    background-color: #34882c;
}
.new-project-modal button[type=submit].not-empty:active {
    background-color: #2b7025;
}
.new-project-modal button.cancel {
    background-color: #dd4e3e;
    color: #ffffff;
}
.new-project-modal button.cancel,
.new-project-modal button[type=submit] {
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

.new-project-modal textarea,
.new-project-modal input {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: inherit;
    margin-bottom: 10px;
    margin-top: 5px;
}

.new-project-modal input {
    height: 35px;
    border: 2px solid #dd4e3e;
}
.new-project-modal input.valid {
    border: 2px solid #46c726;
}
.new-project-modal textarea {
    height: 60px;
    padding: 10px;
}