@media screen and (max-width: 1000px) {
    .edit-task .bottom-content-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .edit-task .edit-priority-container {
        width: 100%;
    }
}

/* for header logo */
@media screen and (max-width: 790px) {
    header .logo h2 {
        font-size: .8rem;
    }
    header .logo img {
        width: 45px;
        height: 50px;
    }
    header .logo .border-top {
        left: 66px;
        bottom: 39px;
        width: 110px;
        height: 4px;
    }
}

@media screen and (max-width: 750px) {
    body #content > * {
        font-size: 0.85em;
    }
    /* task display */
    .item.task .item-container {
        padding-top: 19px;
    }
    .item.task .top-content {
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
    }
    .item.task .top-content .right-container {
        justify-content: flex-end;
        flex-direction: row-reverse;
        gap: 25px;
        width: 100%;
    }
    .item.task button.edit-task {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    /* edit task page */
    .edit-task header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
        .edit-task header .buttons-container {
            display: flex;
            flex-direction:column-reverse;
            justify-content: space-between;
            gap: 10px;
        }
        .edit-task button.back-button {
            padding-bottom: 0;
            padding-top: 0;
        }
    .edit-task .edit-priority-container ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* for header logo */
@media screen and (max-width: 680px) {
    header .logo h2 {
        font-size: .7rem;
        margin-left: 2px;
    }
    header .logo .border-top {
        visibility: hidden;
    }

    header .new-project-button-header h3{
        white-space: nowrap;
    }
    
}

@media screen and (max-width: 600px) {
    .navigation.maximized,
    .navigation.minimized,
    .navigation.minimized.visible {
        height: 0;
        width: 0;
        overflow: hidden;
    }
    header.main-header {
        position: fixed;
        top: 0;
        gap: 0;
        border-bottom: 0;
    }
    .navigation.mobile {
        height: 80px;
        width: 100%;
    }

    header .box-front-top,
    header .box-front-bottom,
    header .box-back-top,
    header .box-back-bottom {
        position: relative;
        height: 0;
        width: 0;
    }
    header .new-project-button-header {
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
    }
    header .logo {
        width: 100%;
    }
    header .logo {
        height: 100%;
        padding: 0 50px 0 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        overflow: hidden;
        color: rgb(247 247 247);
    }
    header .logo h2 {
        font-size: .95rem;
        letter-spacing: 3px;
        transform: scale(1, 1.3);
        white-space: nowrap;
    }
    
    header .logo img {
        width: 60px;
        height: 65px;
    }
    
    header .logo .border-top {
        position: absolute;
        visibility: visible;
        left: 82px;
        bottom: 43px;
        width: 184px;
        height: 5px;
        background-color: #75a375;
        border-radius: 20px;
    }

    #main-content {
        margin-top: 60px;
        margin-bottom: 80px;
        overflow: auto;
    }

    .add-new-modal form {
        padding-left: 10px;
        padding-right: 10px;
        width: 90vw;
    }
    .add-new-modal button.cancel,
    .add-new-modal button[type=submit] {
        width: 115px;
    }
    .display .projects-container {
        justify-content: center;
    }
}