@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
}

li {
    list-style-type: none;
}

textarea {
    resize: none;
}

input {
    outline: none;
    
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: inherit;
    height: 35px;
}

#content {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
}

#view-content {
    width: 100%;
    height: auto;
    flex-grow: 1;
    background-color: rgb(247, 247, 247);
}

.right-side-flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

:root {
    --dark1: #333333;
    --dark2: #4b4b4b;
    --dark3: #5a5a5a;

    --gray1: #646464;
    --gray2: #7a7a7a;
    --gray3: #929292;

    --light-gray1: #e9e9e9;
}