.sidebar .top img,
.sidebar .top button {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}
.sidebar .top button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 130ms ease-in-out;
}
.sidebar .top button:hover {
    background-color: var(--gray2);
}
.sidebar .top button:active {
    background-color: var(--gray3);
}
.sidebar .top {
    height: 60px;
    width: 100%;
}
.sidebar .sidebar-content img {
    width: 28px;
    height: 28px;
}
.sidebar ul.sidebar-content button.projects img {
    width: 26px;
    height: 26px;
}
.sidebar .sidebar-content button {
    transition: background-color 130ms ease-in-out;
}
.sidebar .sidebar-content button:hover {
    background-color: var(--dark2);
}
.sidebar .sidebar-content button:active {
    background-color: var(--dark3);
}

/* .sidebar.maximized */
.sidebar.maximized {
    min-height: 1000px;
    height: auto;
    width: 225px;
    flex-shrink: 0;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fafafa;
    font-weight: 700;
    overflow: hidden;
    transition: width 100ms ease-in-out;
}
.sidebar.maximized.hidden {
    width: 0;
}
.sidebar.maximized .top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #383838;
    padding-right: 9%;
}
.sidebar.maximized .top img.minimize {
    padding: 5px;
    border-radius: 50%;
    transition: background-color 130ms ease-in-out;
}
.sidebar.maximized ul.sidebar-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar.maximized .sidebar-content button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 42px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar.maximized .sidebar-content .title {
    flex-grow: 1;
    text-align: left;
}
.sidebar.maximized .sidebar-content .count {
    color: rgb(180, 255, 145);
}

/* .sidebar.minimized */
.sidebar.minimized {
    min-height: 1000px;
    height: auto;
    width: 0;
    flex-shrink: 0;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fafafa;
    font-weight: 700;
    overflow: hidden;
    transition: width 100ms ease-in-out;
}

.sidebar.minimized.visible {
    width: 65px;
}

.sidebar.minimized ul.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sidebar.minimized .top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar.minimized ul.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sidebar.minimized ul.sidebar-content button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
